:root {

	--mb-h: 348;
	--mb-s: 92%;
	--mb-l: 38%;

	--mb-accent: hsl(var(--mb-h), var(--mb-s), var(--mb-l));
	--mb-accent-light: hsl(var(--mb-h), var(--mb-s), calc(var(--mb-l)*1.1));
	--mb-accent-active: hsl(var(--mb-h), 48%, 84%);
	--mb-accent-a30: hsla(var(--mb-h), var(--mb-s), var(--mb-l), 0.3);
	--mb-accent-a50: hsla(var(--mb-h), var(--mb-s), var(--mb-l), 0.5);
	--mb-accent-dark: hsl(var(--mb-h), var(--mb-s), 40%);

	--mb-library-gap: 8px;
	--mb-button-size: 44px;
	--mb-span-size: 40px;
	--mb-library-large: 146px;
	--mb-library-name: calc(var(--mb-library-large) - var(--mb-button-size) - 10px);
	--mb-library-large-with-menu: calc(var(--mb-library-large) + var(--mb-span-size));

	--mb-filter-button-size: 34px;
	--mb-filter-span-size: 30px;

	--mb-panel-full-height: calc(var(--mb-button-size)+var(--mb-filter-button-size)+2*var(--mb-library-gap));

	--mb-scrollbar-width: 10px;

	--mb-drag-bar-height: 22px;

	--mb-card-cover-min-width: 141px;
	--mb-card-cover-max-width: 190px;
	--mb-card-cover-dash-width: 150px;
	--mb-cover-aspect: 100 / 140;

	--mb-card-padding: 5px;
	--mb-cover-radius: 4px;
	--mb-card-radius: calc(var(--mb-cover-radius) + var(--mb-card-padding));

	--mb-card-min-width: calc(var(--mb-card-cover-min-width) + 2 * var(--mb-card-padding));

	--mb-num-buttons: 1;

	--mb-swatches-hi:
		hsl(348, 92%, 38%),
		hsl(358, 73%, 55%),
		hsl(28, 92%, 54%),
		hsl(37, 100%, 50%),
		hsl(45, 100%, 57%),
		hsl(107, 45%, 50%),
		hsl(211, 100%, 50%),
		hsl(230, 65%, 47%),
		hsl(274, 57%, 45%),
		hsl(300, 41%, 41%),
		hsl(306, 70%, 60%),
		hsl(332, 92%, 64%),
		hsl(0, 0%, 60%);

	--mb-swatches-lo:
		hsl(348, 92%, 38%),
		hsl(358, 100%, 66%),
		hsl(28, 93%, 54%),
		hsl(37, 100%, 50%),
		hsl(47, 100%, 50%),
		hsl(106, 46%, 50%),
		hsl(212, 100%, 51%),
		hsl(230, 62%, 50%),
		hsl(274, 57%, 51%),
		hsl(299, 36%, 48%),
		hsl(306, 70%, 60%),
		hsl(332, 91%, 64%),
		hsl(0, 0%, 55%);

	/*
	--mb-swatches-hi:
		hsl(348, 92%, 38%),
		hsl(28, 93%, 54%),
		hsl(44, 100%, 57%),
		hsl(105, 45%, 50%),
		hsl(211, 100%, 50%),
		hsl(230, 65%, 47%),
		hsl(299, 42%, 41%),
		hsl(331, 91%, 64%),
		hsl(0, 0%, 60%);
	
	--mb-swatches-lo:
		hsl(348, 92%, 38%),
		hsl(28, 93%, 54%),
		hsl(44, 100%, 57%),
		hsl(105, 45%, 50%),
		hsl(211, 100%, 50%),
		hsl(230, 62%, 50%),
		hsl(299, 42%, 41%),
		hsl(331, 91%, 64%),
		hsl(0, 0%, 60%);
	*/
	/*mac
			hsl(358, 73%, 55%),
		hsl(28, 93%, 54%),
		hsl(44, 100%, 57%),
		hsl(105, 45%, 50%),
		hsl(211, 100%, 50%),
		hsl(299, 42%, 41%),
		hsl(331, 91%, 64%),
		hsl(0, 0%, 60%);
		*/

	/*hi
		hsl(348, 92%, 38%),
		hsl(37, 100%, 50%),
		hsl(50, 100%, 48%),
		hsl(92, 78%, 42%),
		hsl(210, 76%, 50%),
		hsl(230, 65%, 47%),
		hsl(274, 57%, 45%),
		hsl(306, 70%, 60%);
*/
	/* lo
		hsl(348, 92%, 38%),
		hsl(37, 100%, 50%),
		hsl(50, 100%, 48%),
		hsl(92, 82%, 40%),
		hsl(210, 76%, 50%),
		hsl(230, 62%, 50%),
		hsl(274, 57%, 51%),
		hsl(306, 70%, 60%);
		*/
}

[data-theme="light"] {
	--mb-page-color: #f5f5f5;
	--mb-card-color: #ffffff;
	--mb-input-color: #f6f6f6;
	--mb-hover-color: #eeeeee;
	--mb-active-color: #f0f0f0;

	--mb-text-color: rgba(0, 0, 0, 0.85);
	--mb-text-color-hi: rgba(0, 0, 0, 0.95);
	--mb-glyph-color: rgba(0, 0, 0, 0.7);
	--mb-bar-color: #dddddd;
}

[data-theme="dark"] {
	--mb-page-color: #202020;
	--mb-card-color: #353535;
	--mb-input-color: #252525;
	--mb-hover-color: #606060;
	--mb-active-color: #656565;

	--mb-text-color: rgba(255, 255, 255, 0.85);
	--mb-text-color-hi: rgba(255, 255, 255, 0.95);
	--mb-glyph-color: rgba(255, 255, 255, 0.75);
	--mb-bar-color: #606060;
}

/*
@font-face {
	font-family: 'Roboto Flex';
	src: url('./webfonts/RobotoFlex.woff2') format('woff2');
	src: url('./webfonts/RobotoFlex.ttf') format('truetype');
	src: url('./webfonts/roboto-flex-v27-latin-regular.woff2') format('woff2');
	font-weight: 100 1000;
	font-display: swap;
	font-style: normal;
 }
*/

* {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.draggable {
	-webkit-app-region: drag;
}

html,
body {
	overscroll-behavior: none;
	overflow-y: visible;
}

.fa-apple {
	width:100%;
	color: var(--mb-card-color);
	text-align:left;
	margin-left: 2px;
	margin-right: 2px;
}

/*
#swatchContainer {
	justify-content: center;

	width: 100%;
	max-width: calc(13 * 60px);

	border-radius: 5px;

	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);

	display: flex;
	flex-wrap: wrap;
	z-index: 10000;
	padding: 10px;

	background-color: var(--mb-card-color);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
	transition: opacity 0.3s ease;
}
*/

#colorSwatchBar {
	padding: 0px;
	gap: 5px;
}

.color-swatch {
	height: var(--mb-filter-button-size);
	cursor: pointer;
	box-sizing: border-box;
	border: 3px solid transparent;
	transition: border 0.2s ease;
	border-radius: 4px;
	flex: 1;
	min-width: 22px;
}

.color-swatch:hover {
	border: 3px solid rgba(255, 255, 255, 0.5);
}

.color-swatch:first-child {
	margin-left: 10px;
}

.color-swatch:last-child {
	margin-right: 10px;
}

#debuggerObj {
	display: none;
	position: fixed;
	z-index: 10000;
	font-size: 20px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	top: 280px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fadeOut 1s ease-in-out forwards;
}

body {
	font-family: 'Roboto Flex', sans-serif;
	margin: 0;
	padding: 0;
	background: var(--mb-page-color);
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	color: var(--mb-text-color);
	transition: background-color 0.1s ease, color 0.3s ease, padding-top 0.3s ease;
}

a {
	color: var(--mb-text-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

#mainUI {
	position: fixed;
	top: var(--mb-drag-bar-height);
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 60px auto;
	transition: grid-template-rows 0.2s;
}

#dragbar {
	text-align: left;
	padding-left: 32px;
	font-size: 14px;
	line-height: 16px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--mb-drag-bar-height);
	z-index:3000;
	background-color: var(--mb-card-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 0.3s;
	transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; /*bgcolor was 0.1s ease*/
	/*border-bottom:1px red solid;*/
}

#dragbar.onReader{
	background-color: transparent;
	transition: background-color 0.3s;
}

#barLogo,
#dragbarAppTitle,
#windowControls{
		transition: opacity 0.3s ease;
}

#dragbar.onReader #barLogo,
#dragbar.onReader #dragbarAppTitle{
	opacity:0;
}

#dragbar.onReader #windowControls{
	opacity:0.35;
}
#dragbar.onReader #windowControls:hover{
	opacity:1;
}

/*
#dragbar.onReader:hover{
	opacity:1;
}
*/
.window-controls {
	display: flex;
	gap: 5px;
	-webkit-app-region: no-drag;
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 14px;
	transition:opacity 0.3s ease;
}

.window-controls span {
	width: 25px;
	text-align: center;
	/*border:1px orange solid;*/
	margin: 0px;
	padding: 0px;
	transition: 0.3s;
}

.window-controls span:hover {
	color: var(--mb-accent);
	text-shadow: 0px 0px 15px var(--mb-accent-a50);
}

.window-controls span:active {
	color: var(--mb-accent-a50);
}

#barLogo {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 6px;
	left: 8px;
}

#mainUI:has(.extra-bar:not(.hidden)) {
	grid-template-rows: calc(var(--mb-button-size) + var(--mb-filter-button-size) + 3 * var(--mb-library-gap)) auto;
}

#mainContainer {
	position: relative;
	grid-row: 2;
	overflow-y: auto;
	/*
	background-color:pink;
	border:2px solid red;
	*/
}

/* Sticky container for libraries */
#stickyContainer {
	grid-row: 1;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--mb-card-color);
	padding: var(--mb-library-gap) 10px;
	z-index: 1000;
	transition: all 0.3s ease;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	flex-wrap: nowrap;
}

#librariesList {
	display: grid;
	grid-auto-flow: column;
	gap: var(--mb-library-gap);
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: var(--mb-button-size);

	/*background-color: lightblue;*/
}

#librariesRightBlock {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: var(--mb-button-size);
	gap: var(--mb-library-gap);
	list-style-type: none;
	padding: 0 0 0 var(--mb-library-gap);
	margin: 0 0 0 auto;
	height: var(--mb-button-size);

	grid-template-columns: repeat(var(--mb-num-buttons), var(--mb-button-size)) minmax(auto, 210px) var(--mb-button-size);

	/*background-color: pink;*/
}

.filters-list {
	display: grid;
	grid-auto-flow: column;
	gap: var(--mb-library-gap);
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-bottom: var(--mb-library-gap);
	height: var(--mb-filter-button-size);
}

.library-menu-button span {
	color: rgba(255, 255, 255, 0.5);
	transition: text-shadow 0.3s ease, color 0.3s ease;
}

.library-menu-button span.filtered {
	border-radius: 5px;
	color: white;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
}

.library-menu-button span:active {
	color: var(--mb-accent-active);
}

.library-menu-button:hover span {
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#libraryMenu {
	transition: opacity 0.3s, background-color 0.3s;
}

#libraryMenu.disabled {
	opacity: 0;
	pointer-events: none;
}

#libraryMenu:not(.disabled) {
	opacity: 1;
}

#menuBars {
	z-index: 1000;
}

.extra-bar {
	display: flex;
	align-items: center;

	padding: 0px 10px 0px 10px;

	width: 100vw;
	height: calc(var(--mb-filter-button-size) + var(--mb-library-gap));
	background: var(--mb-card-color);
	position: fixed;
	z-index: 1000;
	box-shadow: 0 20px 15px -18px rgba(0, 0, 0, 0.15);
	transition: all 0.3s;
}

.extra-bar.hidden {
	opacity: 0;
	pointer-events: none;
}

.extra-bar:not(.hidden) {
	opacity: 1;
}


.filter-item {
	user-select: none;
	box-sizing: border-box;
	width: 100px;
	margin: 0px;
	padding: calc(0.5*(var(--mb-filter-button-size) - var(--mb-filter-span-size)));
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
	font-size: 16px;
	height: var(--mb-filter-button-size);
	transition: background-color 0.3s ease, width 0.3s ease;
}

.filter-item:not(:has(.library-name)) {
	width: var(--mb-filter-button-size);
}

.library-item {
	-webkit-app-region: no-drag;

	user-select: none;
	box-sizing: border-box;
	padding: calc(0.5*(var(--mb-button-size) - var(--mb-span-size)));
	width: var(--mb-library-large);
	margin: 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	overflow: hidden;
	font-size: 16px;
	height: var(--mb-button-size);
	transition: background-color 0.3s ease, width 0.3s ease, box-shadow 0.3s linear;
	/*text-transform: uppercase;*/
	/*box-shadow: 0px 2px 5px rgba(0,0,0,0.15);*/
}

.library-item:not(:has(.library-name)) {
	width: var(--mb-button-size);
}

.library-item.search-field {
	max-width: 100%;
	width: auto;
}

.library-item span.fa-solid,
.library-item span.fa-regular {
	width: var(--mb-span-size);
	height: var(--mb-span-size);
	line-height: var(--mb-span-size);
	font-size: 25px;
}

.filter-item span.fa-solid,
.filter-item span.fa-regular {
	width: var(--mb-filter-span-size);
	height: var(--mb-filter-span-size);
	line-height: var(--mb-filter-span-size);
	font-size: 20px;
}

.library-item.search-field.highlighted span.fa-solid,
.filter-item.highlighted span.fa-solid,
.filter-item.highlighted span.fa-regular {
	color: white;
	opacity: 1;
}

.search-input {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: var(--mb-input-color);
	border-radius: 6px;
	height: var(--mb-span-size);
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	line-height: var(--mb-span-size);
	color: var(--mb-text-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.library-item:hover,
.filter-item:hover {
	background-color: var(--mb-hover-color);
}

.library-item:active,
.filter-item:active {
	background-color: var(--mb-active-color);
}

.thumbnail-wrapper {
	max-width: 100%;
	width: var(--mb-card-cover-max-width);
	position: relative;
	aspect-ratio: var(--mb-cover-aspect);
	overflow: hidden;
	border-radius: var(--mb-cover-radius);
}

.button-wrapper {
	position: relative;
	width: var(--mb-span-size);
	height: var(--mb-span-size);
	min-width: var(--mb-span-size);
	min-height: var(--mb-span-size);
	padding-top: 0;
}

.smallbutton-wrapper {
	position: relative;
	width: var(--mb-filter-span-size);
	height: var(--mb-filter-span-size);
	min-width: var(--mb-filter-span-size);
	min-height: var(--mb-filter-span-size);
	padding-top: 0;
}

.library-thumbnail,
.series-thumbnail,
.book-thumbnail,
.series-overlay,
.series-fader,
.series-status,
.book-overlay,
.book-fader,
.book-status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: opacity 0.4s ease-in-out;
}

.library-thumbnail {
	border-radius: 6px;
}

.series-status,
.book-status {
	pointer-events: none;
}

.series-thumbnail.hidden,
.book-thumbnail.hidden {
	opacity: 0;
	pointer-events: none;
}

.thumbnail-wrapper:has(.series-thumbnail)::before,
.thumbnail-wrapper:has(.book-thumbnail)::before,
#bookDetailsContainerThumbnailWrapper:has(.book-thumbnail)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	opacity: 0;

	border-top-color: var(--mb-accent);
	transform: translate(-50%, -50%);
	background: conic-gradient(transparent 0deg, var(--mb-accent-a30) 180deg, var(--mb-accent) 300deg, transparent 360deg);
	mask-image: radial-gradient(circle, transparent 30px, white 30px, white 40px);
	-webkit-mask-image: radial-gradient(circle, transparent 30px, white 30px, white 40px);
	transition: opacity 0.4s;
}

@keyframes loader_spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loader_hide {
	to {
		opacity: 0;
	}
}

@keyframes loader_show {
	to {
		opacity: 1;
	}
}

.thumbnail-wrapper:has(.series-thumbnail.loading)::before,
.thumbnail-wrapper:has(.book-thumbnail.loading)::before,
#bookDetailsContainerThumbnailWrapper:has(.book-thumbnail.loading)::before {
	opacity: 1;
	animation: loader_spin 1s linear infinite;
}

.thumbnail-wrapper:has(.series-thumbnail.loaded)::before,
.thumbnail-wrapper:has(.book-thumbnail.loaded)::before,
#bookDetailsContainerThumbnailWrapper:has(.book-thumbnail.loaded)::before {
	opacity: 0;
	animation: loader_spin 1s linear 2;
}

.thumbnail-wrapper:has(.series-thumbnail.finished)::before,
.thumbnail-wrapper:has(.book-thumbnail.finished)::before,
#bookDetailsContainerThumbnailWrapper:has(.book-thumbnail.finished)::before {
	opacity: 0;
	background: none;
	mask-image: none;
	-webkit-mask-image: none;

}

.series-fader,
.book-fader {
	box-shadow: inset rgba(128, 128, 128, 0.5) 0px 0px 20px -10px;
}

.series-overlay,
.book-overlay {
	opacity: 0;
	border-radius: var(--mb-cover-radius);
	box-shadow: inset var(--mb-accent) 0px 0px 0px 3px, inset var(--mb-accent) 0px 0px 60px -17px, inset rgba(0, 0, 0, 0.5) 0px 0px 60px -17px;
}

.series-item.scaled .series-overlay,
.book-item.scaled .book-overlay {
	opacity: 1;
}

.mini-buttons {
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
	color: white;
	opacity: 0;
	transition: opacity 0.3s ease 0.2s, text-shadow 0.3s ease;
}

.mini-buttons:hover {
	text-shadow: 0px 0px 12px rgba(255, 255, 255, 1.0), 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.mini-buttons.mark-as-read {
	right: 10px;
	bottom: 10px;
}

.mini-buttons.mark-as-unread {
	left: 10px;
	bottom: 10px;
}

.mini-buttons.book-details {
	left: 50%;
	bottom: 10px;
	transform: translate(-50%, 0%);
	/* Centers the div */
}

.mini-buttons-2 {
	color: var(--mb-glyph-color);
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	/* Horizontally center the content */
	align-items: center;
	/* Vertically center the content */
	cursor: pointer;
	transition: all 0.3s;
}

.mini-buttons-2:hover {
	opacity: 0.7;
}

#bookDetailsContainer .close-details {
	color: var(--mb-text-color);
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

#bookDetailsContainer .thumbnail-wrapper {
	cursor: pointer;
}

.mini-controls {
	margin-top: 0px;
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: 30% 40% 30%;
	width: 100%;
}

.scaled .mini-buttons {
	opacity: 1;
}

.unread-book {
	position: absolute;
	right: 0px;
	top: 0px;

	border-right: 25px solid var(--mb-accent);
	border-top-right-radius: var(--mb-cover-radius);
	border-left: 25px solid transparent;
	border-bottom: 25px solid transparent;
	height: 0;
	width: 0;

	transition: border 0.3s;
}

.unread-count {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	/* Vertically center the span */
	justify-content: center;
	background-color: var(--mb-accent);
	vertical-align: middle;

	transition: background-color 0.3s;
}

.unread-count span {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: white;
	margin: 4px 8px;
}

.library-name {
	width: var(--mb-library-name);
	min-width: var(--mb-library-name);
	text-align: left;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

#stripPrevPage,
#stripNextPage {
	margin-left: 10px;
	cursor: pointer;
	transition: opacity 0.2s;
}

#stripPrevPage.disabled,
#stripNextPage.disabled {
	opacity: 0.25;
	cursor: inherit;
	pointer-events: none;
}

.home-strip {
	gap: 16px;
	padding: 10px 20px 30px 20px;
	transition: opacity 0.3s ease;
	/*flex-wrap:wrap;*/
	display: flex;
	overflow-x: auto;
	background: none;
	/*scroll-behavior: smooth; */
	mask-image: linear-gradient(to right, black 0%, black calc(100% - 50px), transparent calc(100% - 10px));
	-webkit-mask-image: linear-gradient(to right, black 0%, black calc(100% - 50px), transparent calc(100% - 10px));

}

.home-strip.last-strip {
	padding-bottom: 20px;
}


.home-strip.search-results {
	flex-wrap: wrap;
}

/* Hide scrollbar for Chrome, Edge, and Safari */
.home-strip::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
.home-strip {
	scrollbar-width: none;
}

.home-strip-parent:first-of-type {
	margin-top: 10px;
}

#searchStripsContainer {
	margin-top: 10px;
}

.strip-all {
	width: 54px;
	font-size: 25px;
	font-weight: 500;
	margin: 0px;
	padding: 0px;
}

.strip-all .fa-solid,
.strip-all .fa-regular {
	text-align: center;
	width: 44px;
	margin-left: 0px;
	vertical-align: top;
	margin-top: 0px;
	cursor: pointer;

}

.strip-header-container {
	margin-top: 0px;
	display: grid;
	grid-template-columns: auto minmax(auto, 300px) 54px;
	gap: 10px;
}

#stripGridHeaderContainer {
	position: fixed;
	top: calc(60px + var(--mb-drag-bar-height));
	left: 0px;
	right: 0px;
	background: linear-gradient(180deg, var(--mb-page-color) 80%, transparent 81%);
	opacity: 1;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px;
	transition: all 0.3s;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0);
	height: 32px;
}

#stripGridHeaderContainer.collapse {
	background: linear-gradient(180deg, var(--mb-page-color) 80%, var(--mb-page-color) 81%);
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
}


.stripgrid-all {
	font-size: 20px;
	margin-right: 20px;
}

@media (max-width: 600px) {
	.strip-header-container {
		grid-template-columns: auto 200px 54px;
	}
}

@media (max-width: 500px) {
	.strip-header-container {
		grid-template-columns: auto 70px 54px;
	}
}

.strip-header {
	margin-left: 25px;
	padding: 0px;
	font-size: 20px;
	font-weight: 500;
}

.custom-scrollbar input[type="range"] {
	width: 100%;
	appearance: none;
	background: var(--mb-bar-color);
	height: 10px;
	border-radius: 5px;
	outline: none;
	margin: 8px 0px 0px 0px;
	/*was 8 20 0 0*/
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
	transition: background-color 0.3s ease;

}

.custom-scrollbar input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: var(--thumb-width, 10px);
	height: 10px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	border: none;
	box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.35);
}

.custom-scrollbar input[type="range"]::-moz-range-thumb {
	width: var(--thumb-width, 10px);
	height: 10px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	border: none;
	box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.35);
}


#seriesGrid,
#booksGrid,
#stripGrid,
#homeStripSeriesResults,
#homeStripBooksResults {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--mb-card-min-width), max-content));
	gap: 16px;
	padding: 20px 20px;
	transition: opacity 0.3s ease;
}

#stripGrid {
	padding-top: 50px;
}

#bookDetailsContainer {
	position: fixed;
	/* Keeps the div centered and prevents scrolling */
	left: 50%;
	top: calc(100px + var(--mb-drag-bar-height));
	transform: translate(-50%, 0);
	/* Centers the div */
	width: min(550px, 100vw);
	/* Minimum width between 300px and 100vw */
	max-height: calc(100vh - 150px);
	/* Minimum height between 500px and 100vh */
	height: 350px;
	box-sizing: border-box;
	/* Ensures padding and border are included in size */
	background-color: var(--mb-card-color);
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: flex-start;
	transition: all 0.3s;
	overflow-y: hidden;
}

.ul-container {
	position: absolute;
	overflow-y: auto;
	/* Enables scrolling within the ul-container */
	left: 170px;
	right: 15px;
	top: 50px;
	bottom: 20px;
	overflow-y: auto;
}

#bookDetailsContainer ul {
	padding: 0px;
	margin: 0px 0px 0px 20px;
	list-style-type: none;
	/* Removes the bullet points */
}

#bookDetailsContainerThumbnailWrapper {

	position: absolute;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	max-width: 150px;
	max-height: 210px;
	top: 55px;
	bottom: 20px;
	aspect-ratio: var(--mb-cover-aspect);
	border-radius: 4px;

}

#bookDetailsContainer li {
	margin-bottom: 10px;
}

.book-details-title {
	font-weight: 500;
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.book-details-pic-container {
	display: flex;
	justify-content: center;
	/* Centers the child horizontally */
	width: 150px;
}


/*
#booksGrid{
	padding-top: calc(175px + 60px);
}
*/
.red {
	transition: 0.3s;
}

.red:hover {
	text-shadow: var(--mb-accent-a50) 0px 0px 4px;
}

#homeStripsContainer,
#searchStripsContainer {
	transition: opacity 0.3s ease;
}

#seriesGrid.hidden,
#booksGrid.hidden,
#homeStripsContainer.hidden,
#searchStripsContainer.hidden,
#stripGridContainer.hidden,
#stickyContainer.hidden {
	opacity: 0;
	display: none;
}

#swatchDimmer.hidden,
#bookDetailsContainer.hidden {
	pointer-events: none;
	opacity: 0;
}

.series-container,
.book-container {
	background-color: transparent;
}

.series-item,
.book-item {
	max-width: var(--mb-card-cover-max-width);
	background-color: var(--mb-card-color);
	text-align: left;
	cursor: pointer;
	font-size: 0.9em;
	margin: 0;
	padding: var(--mb-card-padding);
	box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px -10px;
	border-radius: var(--mb-card-radius);
	transition: scale 0.3s, box-shadow 0.3s;
}

.series-item.scaled,
.book-item.scaled {
	box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px -5px;
	scale: 1.06;
	z-index: 900;
}

.home-strip .book-item,
.home-strip .series-item {
	width: var(--mb-card-cover-dash-width);
}

series-item,
book-item {
	transition: background-color 0.3s ease, color 0.3s ease;
}

.data-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 0px 2px;
}

.title-row {
	display: flex;
	flex-direction: row;
	padding-bottom: 2px;
	border-bottom: 1px solid var(--mb-accent);
	margin-bottom: 4px;
	align-items: stretch;
}

.series-title {
	line-height: 16px;
	margin-bottom: 3px;
	margin-top: 3px;
	word-break: break-word;
	hyphens: auto;
}

.book-row {
	padding-bottom: 2px;
}

.book-series-row {
	padding-top: 8px;
	padding-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	max-width: 100%;
}

.artist-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-trigger {
	cursor: zoom-in;
}

.data-label {
	width: 100%;
	text-align: left;
}

.top-row {
	font-weight: 500;
	padding-top: 8px;
	padding-bottom: 0px;
}

.info-row {
	word-break: break-word;
}

.custom-scrollbar {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	/* Place above .home-strip */
}

.highlighted {
	background-color: var(--mb-accent);
	color: white;
}

.highlighted .library-name {
	text-shadow: 0px 0px 8px var(--mb-accent-dark);
}

.highlighted.with-menu {
	width: var(--mb-library-large-with-menu);
}

.highlighted:hover {
	background-color: var(--mb-accent-light);
	color: white;
}

.highlighted:active {
	background-color: var(--mb-accent-active);
	color: white;
}

.highlighted:has(.library-menu-button span:active) {
	background-color: var(--mb-accent-light);
}

#seriesHeader {
	padding: 20px;
	max-height: 175px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 20px;
	transition: opacity 2s ease;
}


#seriesMiniHeader {
	position: fixed;
	top: calc(60px + var(--mb-drag-bar-height));
	left: 0px;
	right: 0px;
	background: var(--mb-page-color);
	opacity: 1;
	text-align: center;
	/*
	mask-image: linear-gradient(to top, transparent 0, black 12px);
	-webkit-mask-image: linear-gradient(to top, transparent 0, black 12px);
	*/
	transition: all 0.3s;
	padding: 8px 20px 8px 20px;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#seriesMiniHeader.hidden {
	opacity: 0;
	pointer-events: none;
}

#seriesMiniHeader.collapse {
	opacity: 0;
	pointer-events: none;
}

#seriesHeader.hidden {
	opacity: 0;
	display: none;
}

.header-pic-container {
	grid-row: span 2;
	width: 125px;
	transition: all 0.1s ease;
}

.header-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s;
}

.header-title {
	display: flex;
	flex-direction: column;
	gap: 5px;
	transition: all 0.2s ease;
}

span.title {
	font-size: 25px;
	line-height: 25px;
	font-weight: 500;
	transition: all 0.2s ease;
}

span.mini-title {
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	transition: all 0.2s ease;
}

.header-summary {
	overflow: scroll;
	transition: all 0.2s ease;
}

@media (max-width: 700px) {

	.header-pic-container {
		grid-column: 1;
		grid-row: 1;
		height: 60px;
		width: 42px;
	}

	.header-title {
		grid-column: 2;
		grid-row: 1;
	}

	.header-summary {
		height: 100%;
		grid-column: 1 / span 2;
		grid-row: 2;
	}
}

.progress-bar {
	position: relative;
	top: 4px;
	background-color: var(--mb-accent-a30);
	width: 100%;
	height: 4px;
	margin-bottom: -4px;
	border-radius: 2px;
	overflow: hidden;

	transition: background-color 0.3s;
}

.progress-gauge {
	background-color: var(--mb-accent);
	width: 99%;
	height: 4px;

	transition: background-color 0.3s;

}

.progress-bar.no-show {
	visibility: hidden;
}

.glyph-div {
	top: 0;
	bottom: 0;
}

.glyph-right {
	vertical-align: bottom;
	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	width: 14px;
	height: 14px;
}

/*
.glyph-dark {
	color: var(--mb-glyph-color);
	opacity: 0.7;
}
*/

.ri-lg2 {
	font-size: 1.2em;
}

.glyph-dark {
	color: var(--mb-glyph-color);
	transition: color 0.3s ease;
}

.glyph-flag {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-radius: 15%;
	box-shadow: inset 0 0 0px 1px var(--mb-glyph-color);
	background-size: cover;
}

.glyph-flag-button {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
	background-size: 60%;
	/* Scale the background to 80% */
	background-position: center;
	/* Center the background */
	background-repeat: no-repeat;
	/* Prevent the background from repeating */
}

.glyph-ltr {
	background: linear-gradient(90deg, var(--mb-glyph-color) 25%, transparent 25.5%, transparent 37.5%, var(--mb-glyph-color) 38%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-radius: 15%;
}

.mb-accent {
	color: var(--mb-accent);
	opacity: 1.0;
	transition: color 0.3s;
}

#blanker {
	background: var(--mb-page-color);
	position: fixed;
	top: calc(60px + var(--mb-drag-bar-height));
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
	transition: opacity 0.1s linear, background-color 0.3s ease;
	pointer-events: none;
}

/* First reduction: only selected library is enlarged */
body.sticky-medium #librariesRightBlock {
	grid-template-columns: repeat(var(--mb-num-buttons), var(--mb-button-size)) minmax(auto, 200px) var(--mb-button-size);
}

body.sticky-medium #stickyContainer .library-item:not(.search-field) {
	width: var(--mb-button-size);
}

body.sticky-medium #stickyContainer .library-item:not(.search-field).highlighted {
	width: var(--mb-library-large);
}

body.sticky-medium #stickyContainer .library-item:not(.search-field).highlighted.with-menu {
	width: var(--mb-library-large-with-menu);
}

body.sticky-medium #stickyContainer .library-name {
	opacity: 0;
}

body.sticky-medium #stickyContainer .library-item.highlighted .library-name {
	opacity: 1;
}


/* Second reduction: serach bar moved to second row */

body.sticky-small #stickyContainer {
	/*	height: 105px; */
	flex-wrap: wrap;
}

body.sticky-small #librariesRightBlock {
	margin-top: 10px;
}

body.sticky-small #mainUI {
	grid-template-rows: 114px auto;
}

body.sticky-small #stripGridHeaderContainer {
	top: 114px;
}

body.sticky-small #mainUI:has(.extra-bar:not(.hidden)) {
	grid-template-rows: 166px auto;
}

body.sticky-small:not(.sticky-hybrid) #stickyContainer .library-item:not(.search-field) {
	width: var(--mb-button-size);
}

#extraButtons.filter-small .filter-item:not(:first-child) {
	width: var(--mb-filter-button-size);
}


/*
body.sticky-small #filtersBar .filter-item {
	width: var(--mb-filter-button-size);
}
*/
/*
body.sticky-small #filtersBar .library-item {
	width: var(--mb-button-size);
}
*/

body.sticky-small #stickyContainer .library-item:not(.search-field).highlighted {
	width: var(--mb-library-large);
}

body.sticky-small #stickyContainer .library-item:not(.search-field).highlighted.with-menu {
	width: var(--mb-library-large-with-menu);
}

body.sticky-small:not(.sticky-hybrid) #stickyContainer .library-name {
	opacity: 0;
}

body.sticky-small:not(.sticky-hybrid) #stickyContainer .library-item.highlighted .library-name {
	opacity: 1;
}

body.sticky-small #bookDetailsContainer {
	transform: translate(-50%, 60px);
	max-height: calc(100vh - 150px - 60px);
}

body.sticky-small #librariesRightBlock {
	grid-template-columns: repeat(var(--mb-num-buttons), var(--mb-button-size)) 1fr var(--mb-button-size);
	width: 100%;
	padding-left: 0px;
}

body.sticky-small #seriesMiniHeader {
	top: 114px;
}

.scrollbox {
	position: relative;
	/*width: 100%;*/
	/*height: 300px;*/
	/* or whatever */
	overflow: hidden;
	touch-action: pan-x;
}

.scrollbox-content {
	width: 100%;
	height: 100%;
	overflow: auto;
	/*padding-right: 16px;*/
}

/* Hide native scrollbar */
.scrollbox-content::-webkit-scrollbar {
	display: none;
}

.scrollbox-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}

.scrollbox-scrollbar {
	position: absolute;
	background: transparent;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.scrollbox-scrollbar.visible {
	opacity: 1;
}

.scrollbox-scrollbar:hover {
	opacity: 1;
}


/* Vertical */
.scrollbox[data-scroll-direction="vertical"] .scrollbox-scrollbar {
	top: 0;
	right: 0;
	width: var(--mb-scrollbar-width);
	height: 100%;
	pointer-events: auto;
}

.scrollbox[data-scroll-direction="vertical"] .scrollbox-thumb {
	width: var(--mb-scrollbar-width);
	height: 20px;
	top: 0;
	right: 0;
	margin-right: 2px;
	/*
	margin-top:4px;
	margin-bottom:4px;
	*/
	pointer-events: auto;
}

/* Horizontal */
.scrollbox[data-scroll-direction="horizontal"] .scrollbox-scrollbar {
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--mb-scrollbar-width);
	pointer-events: auto;
}

.scrollbox[data-scroll-direction="horizontal"] .scrollbox-thumb {
	height: var(--mb-scrollbar-width);
	width: 20px;
	left: 0;
	bottom: 0;
	margin-bottom: 2px;
	/*
	margin-left:4px;
	margin-right:4px;
	*/
	pointer-events: auto;
}


.scrollbox-thumb {
	position: absolute;
	background: var(--mb-accent);
	border-radius: calc(0.5 * var(--mb-scrollbar-width));
	cursor: pointer;
	transition: background-color 0.2s;
	opacity: 0.75;
	pointer-events: auto;
}

/*
 .scrollbox-scrollbar:hover .scrollbox-thumb {
	background: var(--mb-accent);
 }
*/