/* //TODO With the new fader maybe this is not needed anymore*/

#nextBookPanel.blankstart,
#prevBookPanel.blankstart,
#incognitoMark.blankstart,
#colorSwatchBar.blankstart,
#filtersBar.blankstart,
#bookDetailsContainer.blankstart{
	opacity:0;
	transition: opacity 0.01s ease;
}
