.logo-pattern {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image:
		url('logo/mangabox-pattern-alpha-mid.svg'),
		/* Your pattern image */
		url('logo/mangabox-pattern-alpha-mid.svg'),
		/* Your pattern image */
		var(--mb-login-gradient);

	background-repeat: repeat, repeat, no-repeat;
	background-size: 800px 200px, 800px 200px, cover;
	background-position: 50% 50%, calc(50% - 450px) calc(50% - 100px), center;
}

#loginScreen {
	z-index: 5000;
	transition: background-color 0.3s;
}

.version-note {
	width: 100%;
	text-align: right;
	font-size: 13px;
	margin-right: 5px;
}

#logoName {
	max-width: 300px;
	width: 100%;
	margin-bottom: 5px;
	filter: invert(var(--mb-login-logo));
}

#logoIcon {
	max-width: 90px;
}

.dialog {
	max-height: calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	max-width: 300px;
	min-width: 180px;
	width: calc(100% - 100px);

	padding: 0px;
	margin: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid var(--mb-login-border-color);

	padding: var(--mb-dialog-padding);
	border-radius: var(--mb-dialog-box-radius);
	background-color: var(--mb-card-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	transition: background-color 0.3s;
}

.dialog {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE & Edge (legacy) */
}

.dialog::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, and new Edge */
}

.login-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background: var(--mb-input-color);
	padding: 0;
	margin: 0;
	box-shadow: none;
	font: inherit;
	color: inherit;

	box-sizing: border-box;
	height: var(--mb-dialog-button-height);
	width: 100%;
	border-radius: var(--mb-dialog-button-radius);
	border: 1px var(--mb-login-border-color) solid;
	padding-left: calc(var(--mb-dialog-button-height) + 5px);

	padding-right: 10px;
	font-size: var(--mb-dialog-font-size);

	transition: all 0.3s, box-shadow 0.1s;
}

.login-input:hover {
	border: 1px solid var(--mb-accent);
}

.login-input:focus {
	border: 1px solid var(--mb-accent);
	box-shadow: 0px 0px 5px var(--mb-accent-a50);
}

.login-buttons {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: auto minmax(60px, 1fr);
	width: 100%;
	gap: var(--mb-dialog-padding);

}


.login-button {
	margin: 0px;
	appearance: none;
	background: var(--mb-login-button-color);
	border: 1px solid var(--mb-login-border-color);
	border-radius: var(--mb-dialog-button-radius);
	height: var(--mb-dialog-button-height);
	width: 100%;
	margin-right: 0px;
	margin-left: auto;
	max-width: 120px;
	margin-top: var(--mb-dialog-padding);
	transition: 0.3s all;
	font-size: var(--mb-dialog-font-size);
	font: inherit;
	color: inherit;
}


.login-button-round {
	margin: 0px;
	padding:0px;
	appearance: none;
	background: var(--mb-login-button-color);
	border: 1px solid var(--mb-login-border-color);
	border-radius: var(--mb-dialog-button-radius);
	height: var(--mb-dialog-button-height);
	width: var(--mb-dialog-button-height);
	min-width: var(--mb-dialog-button-height);
	min-height: var(--mb-dialog-button-height);
	
	transition: 0.3s all;
	font-size: var(--mb-dialog-font-size);
	font: inherit;
	color: inherit;
	

}

.login-button-round i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: var(--mb-dialog-font-size);
	pointer-events: none;
	transition: all 0.3s;
	width: var(--mb-dialog-button-height);
	height: var(--mb-dialog-button-height);
	display: flex;
	align-items: center;
	justify-content: center;
}


.login-button:hover,
.login-button-round:hover {
	border: 1px solid var(--mb-accent);
	/*background-color:#eee;*/
}

.login-button:active,
.login-button-round:active {
	border: 1px solid var(--mb-accent);
	background-color: var(--mb-accent);
	color: white;
}

#loginInfo {
	position: absolute;
	top: 15px;
	right: 15px;
	margin:0px;
}

.auth-hidden {
	display: none;
}

.error-message {
	width: 100%;
	color: red;
	font-size: var(--mb-dialog-font-size);
	margin-top: 10px;
}


.remember-me-container {
	display: flex;
	align-items: center;
	margin-top: var(--mb-dialog-padding);
	/* Match the width of input boxes */
	min-width: 50px;
}

.remember-me-checkbox {
	appearance: none;
	/* Remove the default checkbox appearance */
	width: var(--mb-dialog-button-height);
	height: var(--mb-dialog-button-height);
	min-width: var(--mb-dialog-button-height);
	min-height: var(--mb-dialog-button-height);
	border: 1px solid var(--mb-login-border-color);
	border-radius: var(--mb-dialog-button-radius);
	background: var(--mb-login-button-color);
	/* Default white background */
	margin: 0px 5px 0px 0px;
	position: relative;
	cursor: pointer;
	/* Indicate it's clickable */
	transition: all 0.3s, box-shadow 0.1s;
}

.remember-me-checkbox:hover {
	border-color: var(--mb-accent);
}

.remember-me-checkbox:focus {
	border-color: var(--mb-accent);
	box-shadow: 0px 0px 5px var(--mb-accent-a50);
}

.remember-me-checkbox:checked {
	border-color: var(--mb-accent);
	/* Change border to accent color */
	background-color: var(--mb-accent);
	/* Accent color background */
}

.remember-me-checkbox:checked::after {
	content: '\f00c';
	/* FontAwesome checkmark */
	font-family: 'Font Awesome 6 Free';
	/* Ensure proper font */
	font-weight: 900;
	/* Bold weight for FontAwesome icons */
	color: #fff;
	/* White checkmark */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: var(--mb-dialog-font-size);
}

.remember-me-label {
	min-width: 20px;
	width: 90px;
	font-size: 14px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	/* white-space: nowrap; */
	/* Matches cursor with checkbox */
}

.input-wrapper {
	position: relative;
	width: 100%;
	margin-top: var(--mb-dialog-padding);

}

.input-wrapper i {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	color: var(--mb-glyph-color);
	/* White icon color */
	background-color: var(--mb-login-button-color);
	/* Accent color */
	width: var(--mb-dialog-button-height);
	height: var(--mb-dialog-button-height);
	border-radius: var(--mb-dialog-button-radius) 0px 0px var(--mb-dialog-button-radius);
	border: 1px solid var(--mb-login-border-color);
	border-right: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--mb-dialog-font-size);
	pointer-events: none;
	/* Make the icon not respond to hover directly */
	transition: all 0.3s;
}

.input-wrapper:hover i {
	border-color: var(--mb-accent);
}

.input-wrapper:focus-within i {
	background-color: var(--mb-accent);
	border-color: var(--mb-accent);
	color: #fff;
}